services:
  # Сервис приложения FastAPI
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+psycopg2://user:password@db:5432/mydb
    depends_on:
      - db
    restart: unless-stopped
    #command: uvicorn main:app --host 0.0.0.0 --port 8000

  # Сервис PostgreSQL
  db:
    image: dh-mirror.gitverse.ru/library/postgres:16
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data:
